* {
    margin: 0;
    padding: 0;

}

:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish: hsl(303, 10%, 53%);
    --light-grayih: hsl(300, 24%, 96%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    font-size: 15px;
    font-family: "Spartan", sans-serif;
}


/* top */
.section-top {
    display: flex;
    justify-content: space-between;

}

.title-desc {
   width: 450px;
}

h1 {
    color: var(--dark-magenta);
    font-size: 3em;
    line-height: 45px;
    margin-bottom: 15px;

}




/* stars */
.evaluation {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.rated {
    margin-top: 40px;
    /* padding: 20px; */

}

.rated span {
    margin-left: 20px;
    font-weight: 700;
    color: var(--dark-magenta)
}

.rated-1 {
    align-self: flex-start;
}

.rated-2 {
    align-self: center;
}

.rated-3 {
    align-self: flex-end;
    position: relative
    ;
    right: 50px;
}







/* bottom */
.comments {
    display: flex;
    margin-top: 60px;
    height: 260px;

}

.comment {
    background: var(--dark-magenta);
    color: white;

    border-radius: 10px;
    width: 340px;
    padding: 35px 20px;
}

.profile {
    display: flex;
}

.img-profile {
    border-radius: 50%;
    height: 45px;
    margin: 0 20px 30px 0;
}

.profile-rated {
    color: hsl(333, 80%, 67%);
}

.profile-name {
    margin: 5px 0;
    font-weight: 700;
}

.comment-1 {
    align-self: flex-start;
}

.comment-2 {
    align-self: center;
    margin: 0 25px;
}

.comment-3 {
    align-self: flex-end;
}